<main class="main">
  <div class="content">
    <div class="content-wrapper">
      <div>
        <h1>Hello, {{ title }}</h1>
        <p>Congratulations! Your app is running. 🎉</p>
        <div class="button-wrapper">
          <button mat-raised-button myColor="mat-warn">Ворнинг</button>
          <button mat-raised-button myColor="mat-primary">Главный</button>
          <button mat-raised-button myColor="mat-accent">Акцент</button>
          <button mat-raised-button myColor="mat-success">Успех</button>
        </div>
      </div>
      <div class="input-container">
        <select-multiple />
        <div class="colorful-block">Если я приклеен к инпуту, то место под ошибку не зарезервировано</div>
      </div>
    </div>
  </div>
</main>
